{% extends 'mailTemplate/templateMail.html.twig' %}

{% block title %}Bonjour, {% endblock %}
{% block body %}
<p>Veuillez trouver ci-joint la liste des nouveaux paiements sous format .csv.</p>
{% endblock %}