{% extends 'mailTemplate/templateMail.html.twig' %}

{% block title %}Bonjour, {{ company.representativeLastname | upper }} {{ company.representativeFirstname | upper }}{% endblock %}
{% block body %}<p>Veuillez trouver ci-joint la facture sous format .pdf.<br />
Merci de vous acquitter du paiement via votre <a href="https://adhesion.apas.asso.fr">espace adhérent</a>.</p>{% endblock %}

