{% extends 'mailTemplate/templateMail.html.twig' %}

{% block title %}Bonjour, {% endblock %}
{% block body %}<p>Veuillez trouver ci-joint la liste des nouvelles factures sous format .csv.<br />
Merci de vous acquitter du paiement via votre <a href="https://adhesion.apas.asso.fr">espace adhérent</a>.</p>
{% endblock %}